/*
Author: Michael Johnston
Date-Created: 4/10/16
*/
.centered-text{
	text-align:center;
}
.leader{
	background-color:#03A678 !important;
	color: white !important;
}
.leaderboard-header{
	margin:0 !important;
	text-align: center;
}
hr.green{
    background-color:#03A678;
    border-color: #03A678;
    color:#03A678;
    margin-top:0px;
}
.high-scores-jumbotron{
	margin:0 !important;
}